PORT=XXXX
SUPABASE_TRANSACTION_POOLER_URL=postgresql://postgres.xxxxxxxxxxxxxxxxxxxxxxxx:[DB_PASSWORD]@aws-xxx-xxxx-x.pooler.supabase.com:6543/[DB_NAME]
// * traducción de la estructura de esta URL: postgresql//<usuarioBDSupabase>:<contraseñaBDSupabase>@<hostBDSupabase>:<puertoTransactionPooler>/<nombreBDSupabase>
